<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recommendations</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <header>
        <h1>Gợi ý sản phẩm mua kèm</h1>
    </header>
    <main>
        <ul>
            {% for recommendation in recommendations %}
            <li>
                <strong>Sản phẩm: {{ recommendation['antecedents'] }}</strong>
                => Gợi ý mua kèm: {{ recommendation['consequents'] }}
                (Độ tin cậy: {{ recommendation['confidence'] }})
            </li>
            {% endfor %}
        </ul>
    </main>
</body>

</html>